.link-menu-principal{
	background-color: #4B088A;
	font-weight: bold;
	border-radius: 5px;
}

.li-menu-principal:hover{
	background-color: #380B61;
	font-weight: bold;
	border-radius: 10px;
}

/*HR y H2 de los titulos evento y noticias*/
.h2-title{
	color: #4B088A;
	font-weight: bold;
}

.hr-title{
	width: 5%;
	border: 1px solid #4B088A;
}
